### Pair Programming Pandas III ###


**1** Cargar el dataset

ðŸ’¡ Pista Si hacemos la carga del dataset sin el parÃ¡metro encoding nos puede dar error (puede que no os de error, si es asÃ­ menos problemas!). AquÃ­ tenÃ©is una lista de los encodings disponibles en pandas. Buscad por los encoding de tipo ISO.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("attacks_pandasIII.csv")

In [4]:
df.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

**2**. Haced una exploraciÃ³n bÃ¡sica del DataFrame:

**2.1** Â¿CuÃ¡ntas filas y columnas tiene el DataFrame?

In [5]:
df.shape

(6114, 22)

**2.2** Mostrad las primeras cinco filas y las Ãºltimas cinco filas del DataFrame.

In [6]:
# cinco primeras
df.head(5)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [7]:
# cinco Ãºltimas
df.tail(5)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

**2.3** Mostrad 2 filas al azar del DataFrame.

In [8]:
df.sample(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3514,3524,1967.06.13,1967.0,Provoked,USA,Florida,"Key West, Monroe County",Spearfishing,Andres Puma (or Pruna),M,...,"Nurse shark, 1 m","H.D. Baldridge, p.192; M. McDiarmid, p.70",1967.06.13-Pruna.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1967.06.13,1967.06.13,2779.0,NaN,NaN
4029,4041,1959.12.03,1959.0,Boat,NEW ZEALAND,North Island,Moko Hinau,Fishing for snapper,"dinghy, occupant: Don Ashton",M,...,"Mako shark, 4.3 m [14']",Captain C. Morris,1959.12.03-boat-Ashton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.12.03,1959.12.03,2262.0,NaN,NaN

**2.4**Â¿CuÃ¡l es el nombre de las columnas del DataFrame?

In [9]:
df.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

**2.5** Â¿CuÃ¡les son los principales estÃ¡disticos del DataFrame? Mostrad por separado las variables categÃ³ricas y las variables numÃ©ricas.

In [10]:
# variables categÃ³ricas
df.describe(include="object")

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
count,6113,6110,6074,5706,5626,5603,5914,5564,3448,2934,3409,6098,6114,6113,6114,6114,6114,1,2
unique,6113,8,201,791,4020,1484,5118,6,156,366,1529,4837,6105,6104,6099,6113,6114,1,2
top,2018.06.25,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,17,Afternoon,White shark,"C. Moore, GSAF",1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.08.04,2018.06.25,stopped here,Teramo
freq,1,4438,2200,1025,162,966,511,4939,154,183,161,95,2,2,4,2,1,1,1

In [11]:
# variables numÃ©ricas
df.describe()

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

**2.6** Â¿CuÃ¡l es el porcentaje de valores nulos en cada columna?

In [12]:
(df.isnull().sum() / (len(df))* 100)

Unnamed: 0                 0.000000
Case Number                0.016356
Year                       0.000000
Type                       0.065424
Country                    0.654236
Area                       6.673209
Location                   7.981681
Activity                   8.357867
Name                       3.271181
Sex                        8.995747
Age                       43.604841
Time                      52.011776
Species                   44.242722
Investigator or Source     0.261694
pdf                        0.000000
href formula               0.016356
href                       0.000000
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Unnamed: 22               99.983644
Unnamed: 23               99.967288
dtype: float64

**2.7** Sacad los valores Ãºnicos y su frecuencia de las variables numÃ©ricas. Almacenad los resultados en un diccionario. Uno para cada variable.

In [37]:
# Identificamos las variables numÃ©ricas
seleccion = df.select_dtypes(include = ["int16", "int32", "int64", "float16", "float32", "float64"])
seleccion.head()

   unnamed:_0    year  original_order
0           0  2018.0          6303.0
1           1  2018.0          6302.0
2           2  2018.0          6301.0
3           3  2018.0          6300.0
4           4  2018.0          6299.0

In [41]:
# Creamos tres diccionarios, ya que existen tres variables numÃ©ricas
dicc2= {}
dicc3= {}
dicc4= {}

In [42]:
# Con un for vamos aÃ±adiendo a los diccionarios las variables y sus valores.
for col in df.columns:
    if col == "unnamed:_0":
        dicc2.setdefault(col, df[col].value_counts())
    elif col == "year":
        dicc3.setdefault(col, df[col].value_counts())
    elif col == "original_order":
        dicc4.setdefault(col, df[col].value_counts())

In [43]:
dicc2

{'unnamed:_0': 0       1
 4084    1
 4093    1
 4092    1
 4091    1
        ..
 2043    1
 2042    1
 2041    1
 2040    1
 6131    1
 Name: unnamed:_0, Length: 6114, dtype: int64}

In [44]:
dicc3

{'year': 2015.0    143
 2017.0    136
 2016.0    130
 2011.0    128
 2014.0    126
          ...
 1819.0      1
 1822.0      1
 1823.0      1
 1834.0      1
 1801.0      1
 Name: year, Length: 207, dtype: int64}

In [45]:
dicc4

{'original_order': 569.0     2
 6303.0    1
 2208.0    1
 2210.0    1
 2211.0    1
          ..
 4260.0    1
 4261.0    1
 4262.0    1
 4263.0    1
 172.0     1
 Name: original_order, Length: 6113, dtype: int64}

**2.8** Cambiad el nombre de las columnas para que todas estÃ©n en minÃºsculas y reemplazad los espacios por _.

In [18]:
df2 = df.copy()
df2.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [19]:
columnas_min = {col:col.lower().replace(" ","_") for col in df.columns}

In [20]:
df.rename(columns = columnas_min, inplace=True)

In [21]:
df.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

**2.9** Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order, Investigator or Source, pdf, href formula.

In [22]:
df2.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [23]:
df_eliminar = df2.drop(["Unnamed: 22","Unnamed: 23", 
                        "Case Number.1", "Case Number.2", 
                        "original order", "Investigator or Source", 
                        "pdf", "href formula"], axis =1)

In [24]:
df_eliminar

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

**2.10** Establece la columna Case Number como Ã­ndice del DataFrame.

In [25]:
df_eliminar.set_index(["Case Number"], inplace=True)

In [26]:
df_eliminar

,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,href
Case Number,,,,,,,,,,,,,
2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804.02.26.R,6127,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1803.05.17,6128,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1803.03.00,6129,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1802.04.13.R,6130,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1801.12.18.R,6131,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

**3.** Guarda el csv que no tiene esas columnas para seguir usÃ¡ndolo maÃ±ana.

In [27]:
df_eliminar.to_csv("datos_sincolumnas.csv")